<div class="container">
        <form method="POST" action="/jobs">
            <div class="form-group">
                <label for="name">Title</label>
                <input type="text" name="title" class="form-control col-md-6">
            </div>
            <div class="form-group">
                <label for="name">Description</label>
                <textarea name="description" class="form-control col-md-6"></textarea>
            </div>
            <div class="form-group">
                <label for="name">Salary</label>
                <input type="text" name="salary" class="form-control col-md-6">
            </div>
            <div class="form-group">
                    <label for="name">Category</label>
                    <select class="form-control col-md-6" name="category_id">
                        <option value="">Choose One Category</option>
                        <% cats.forEach(function(cat) { %>
                                <option value="<%= cat.id %>"><%= cat.name %></option>
                        <% }); %>
                    </select>
            </div>
            <div class="form-group">
                    <label for="name">User</label>
                    <select class="form-control col-md-6" name="agent_id">
                        <option value="">Choose One User</option>
                        <% users.forEach(function(user) { %>
                                <option value="<%= user.id %>"><%= user.name %></option>
                        <% }); %>
                    </select>
            </div>
            <div class="form-group">
                    <label for="name">Company</label>
                    <input type="text" name="company" class="form-control col-md-6">
            </div>
            <div class="form-group">
                    <label for="name">How To Apply</label>
                    <textarea name="how_to_apply" class="form-control col-md-6"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Add</button>
             <a href="/jobs" class="btn btn-info btn-sm">Back</a>
        </form>
    </div>