<div class="container">
        <div class="row">
            <p>
                <a href="/jobs/create" class="btn btn-success btn-sm">
                    <i class="fa fa-plus-square" aria-hidden="true"></i> Add  
                </a>
            </p>
        </div>  
        <div class="row">       
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Salary</th>
                            <th>Category</th>
                            <th>User</th>
                            <th>Company</th>
                            <th>How To Apply</th>
                            <th style="width:200px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < jobs.length; i++) { %>
                        <tr>
                            <td><%= jobs[i].id %></td>
                            <td><%= jobs[i].title %></td>
                            <td><%= jobs[i].description %></td>
                            <td><%= jobs[i].salary %></td>
                            <td><%= (jobs[i].Category != null)? jobs[i].Category.name : "" %></td>
                            <td><%= (jobs[i].User != null) ? jobs[i].User.name : "" %></td>
                            <td><%= jobs[i].company %></td>
                            <td><%= jobs[i].how_to_apply %></td>
                            <td>
                                <form action="jobs/delete/<%= jobs[i].id %>" method="POST">
                                <a href="jobs/edit/<%= jobs[i].id %>" class="btn btn-info btn-sm">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit 
                                </a>
                                
                                <button class="btn btn-danger btn-sm" onclick="return confirm('Are you sure delete');">
                                    <i class="fa fa-minus" aria-hidden="true"></i> Delete 
                                </button>
                            </form>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
    </div>
    