<div class="container">
    <form method="POST" action="/employers">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control col-md-6" value="">
        </div>
        <div class="form-group">
            <label for="name">Phone</label>
            <input type="text" name="phone" class="form-control col-md-6" value="">
        </div>
        <div class="form-group">
            <label for="name">Email</label>
            <input type="text" name="email" class="form-control col-md-6" value="">
        </div>
        <div class="form-group">
            <label for="name">Role</label>
            <select class="form-control col-md-6" name="role">
                <option value="">Choose One Role</option>
                <option value="1">Employer</option>
                <option value="0">JobSeeker</option>
            </select>
        </div>
        <div class="form-group">
            <label for="name">Status</label>
            <select class="form-control col-md-6" name="status">
                <option value="">Choose One Status</option>
                <option value="1">Active</option>
                <option value="0">Inactive</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary btn-sm">Create</button>
         <a href="/employers" class="btn btn-info btn-sm">Back</a>
    </form>
</div>