<div class="container">
        <form method="POST" action="/jobseekers/update/<%= users.id %>">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control col-md-6" value="<%= users.name %>">
            </div>
            <div class="form-group">
                <label for="name">Phone</label>
                <input type="text" name="phone" class="form-control col-md-6" value="<%= users.phone %>">
            </div>
            <div class="form-group">
                <label for="name">Email</label>
                <input type="text" name="email" class="form-control col-md-6" value="<%= users.email %>">
            </div>
            
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
             <a href="/jobseekers" class="btn btn-info btn-sm">Back</a>
        </form>
    </div>