<div class="container">
	<div class="row">
		<p>
			<a href="/jobseekers/create" class="btn btn-success btn-sm">
				<i class="fa fa-plus-square" aria-hidden="true"></i> Add  
			</a>
		</p>
	</div>  
	<div class="row">       
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Status</th>
					<th style="width:200px;">Action</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i < userdata.length; i++) { %>
				<tr>
					<td><%= userdata[i].id %></td>
                    <td><%= userdata[i].name %></td>
                    <td><%= userdata[i].phone %></td>
                    <td><%= userdata[i].email %></td>
                    <td><%= userdata[i].status %></td>
					<td>
					<form action="/jobseekers/delete/<%= userdata[i].id %>" method="POST">
						<a href="jobseekers/edit/<%= userdata[i].id %>" class="btn btn-info btn-sm">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit 
						</a>
						
						<button class="btn btn-danger btn-sm" onclick="return confirm('Are you sure delete');">
							<i class="fa fa-minus" aria-hidden="true"></i> Delete 
						</button>
					</form>
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</div>
