<div class="container">
	<form method="POST" action="/categories/create">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" name="name" class="form-control col-md-6">
		</div>
		 <button type="submit" class="btn btn-primary btn-sm">Add</button>
		 <a href="/categories" class="btn btn-info btn-sm">Back</a>
	</form>
</div>