<div class="container">
    <form method="POST" action="/resumes">
        <div class="form-group">
            <label for="name">Title</label>
            <input type="text" name="title" class="form-control col-md-6" value="">
        </div>
        <div class="form-group">
            <label for="name">Description</label>
            <input type="text" name="description" class="form-control col-md-6" value="">
        </div>
        <div class="form-group">
            <label for="name">Salary</label>
            <input type="text" name="salary" class="form-control col-md-6" value="">
        </div>
        <div class="form-group">
            <label for="name">Category</label>
            <select class="form-control col-md-6" name="category_id">
                <option value="">Choose One Category</option>
                <% category.forEach(function(value){ %>
                    <option value="<%= value.id %>"><%= value.name %></option>
                <% }) %>
            </select>
        </div>
        <div class="form-group">
            <label for="name">User</label>
            <select class="form-control col-md-6" name="user_id">
                <option value="">Choose One User</option>
                <% users.forEach(function(value){ %>
                    <option value="<%= value.id %>"><%= value.name %></option>
                <% }) %>
            </select>
        </div>
        <div class="form-group">
            <label for="name">How To Contact</label>
            <input type="text" name="how_to_contact" class="form-control col-md-6" value="">
        </div>
        
        <button type="submit" class="btn btn-primary btn-sm">Create</button>
         <a href="/resumes" class="btn btn-info btn-sm">Back</a>
    </form>
</div>