<div class="container">
	<div class="row">
		<p>
			<a href="/resumes/create" class="btn btn-success btn-sm">
				<i class="fa fa-plus-square" aria-hidden="true"></i> Add  
			</a>
		</p>
	</div>  
	<div class="row">       
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>User</th>
					<th>Category</th>
					<th>How to Connect</th>
					<th style="width:200px;">Action</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i < userdata.length; i++) { %>
				<tr>
					<td><%= userdata[i].id %></td>
                    <td><%= userdata[i].title %></td>
                    <td><%= userdata[i].description %></td>
					<td><%= userdata[i].User != null ? userdata[i].User.name : "" %></td>
					<td><%= (userdata[i].Category != null)? userdata[i].Category.name : "" %></td>
					<td><%= userdata[i].how_to_contact %></td>
                   
					<td>
					<form action="/resumes/delete/<%= userdata[i].id %>" method="POST">
						<a href="resumes/edit/<%= userdata[i].id %>" class="btn btn-info btn-sm">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit 
						</a>
						
						<button class="btn btn-danger btn-sm" onclick="return confirm('Are you sure delete');">
							<i class="fa fa-minus" aria-hidden="true"></i> Delete 
						</button>
					</form>
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</div>
